html {
	overflow: auto;
	cursor:default;
}
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
h2 {
	margin-top: 0em;
	margin-bottom: 0em;
}
span {
	cursor: default;
}
body { 
	cursor: default;
	draggable:false;
	background-image:url(img/blackmamba.png);
}
textarea{
	resize: none; 
	text-align:left;
}


div{
	draggable:false;
	readonly:readonly;
	disabled:disabled;
	
	cursor: default;	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	/*user-select: none;*/ /* linux doesnt like that for w/e reason...*/
}
table .center {
    margin: 0 auto;
}

.u {
	text-decoration:underline; 
}
.center {
    margin-left: auto;
    margin-right: auto;
	position: relative;
	/*top: 50%;
	transform: translateY(-50%);*/
}

.underlineHover {
    text-decoration: none;
}

.underlineHover:hover {
    text-decoration: underline;
}


div.ui-tooltip {	/* needed to be in middle... i think*/
    max-width: 1000px;
}

.toolTipDetails {
	font:1.2em Kelly Slab;
	padding:5px 5px;
}
.ui-dialog { z-index: 50 !important ;}	/* Check Dialog.ZINDEX */

.onlyText{
	background-color:transparent;
	border: none;
	outline: none;
	overflow:hidden;
	/*
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
	*/
}
.onlyTextScroll{
	background-color:transparent;
	border: none;
	outline: none;
	overflow-y: scroll;
	overflow-x: hidden;
}

.container { 
	-moz-appearance: textfield-multiline;
	white-space:normal;
}
.hover:hover{
	text-decoration:underline; 
}

.shadow{
	text-shadow: 1px  1px 0 #000;
}
.shadowBig{
	text-shadow: 3px  3px 0 #000;
}

.shadow360{
	text-shadow:-1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
	/*text-shadow:-1px -1px 0 #000,1px 1px 0 #000;*/
}

.inline {
	vertical-align:top;
	display:inline-block;
	padding:12px 12px 12px 12px;
}



/*Scroll Bar*/
.noSb {
	overflow:hidden;
}
::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(0,0,0,0.6); 
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4); 
}
		
.gradientBoxesWithOuterShadows { 
	padding: 10px;
	background-color: white; 

	/* outer shadows  (note the rgba is red, green, blue, alpha) */
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

	/* rounded corners */
	-webkit-border-radius: 12px;
	-moz-border-radius: 7px; 
	border-radius: 7px;

	/* gradients */
	background: -webkit-gradient(linear, left top, left bottom, 
	color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5)); 
	background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%); 
}


.selectNice {
   font-size: 20px;
   font-family: 'Averia Libre', cursive;
}​

